numpy>=1.20.0
scipy>=1.7.0
matplotlib>=3.3.0
pandas>=1.2.0
jupyter>=1.0.0
cantera>=3.0.0
CoolProp>=6.4.0
tqdm>=4.60.0
seaborn>=0.11.0
pint>=0.18
ambiance>=1.0.0
geopy>=2.2.0
mermaid>=0.1.0
cairosvg>=2.5.0
Pillow>=10.2.0
requests>=2.27.0
